{% block title %}

{% endblock %}

{% block content %}
<style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 0 auto;
      width: 60%;
      padding-top: 20px;
    }
    
    h1 {
      color: #333333;
    }
    
    p {
      color: #666666;
      line-height: 1.5;
    }
  </style>
  </head>
  <body>
      
    <h1>Política de Privacidad del Sistema De Gestión de Inventario Textiles RG<h1>
 
    <p>En MAJESTIC, nos comprometemos a proteger la privacidad de los usuarios de nuestro Sistema de Gestión de Inventario y garantizar la confidencialidad de la información personal que recopilamos. Esta Política de Privacidad describe cómo recopilamos, utilizamos, almacenamos y compartimos la información personal de los usuarios de nuestro Sistema de Gestión de Inventario. Al utilizar nuestro Sistema de Gestión de Inventario, usted acepta los términos y condiciones establecidos en esta Política de Privacidad.</p>
  
    <p>Información que recopilamos:<br>
      · Información personal: Podemos recopilar información personal, como nombre, dirección de correo electrónico y número de teléfono, cuando usted nos la proporciona voluntariamente al utilizar nuestro Sistema de Gestión de Inventario.<br>
      · Información de uso: Podemos recopilar información de uso, como datos de inicio de sesión, actividad del Sistema de Gestión de Inventario, preferencias y configuraciones, con el fin de mejorar nuestros servicios y personalizar la experiencia del usuario.</p>
    
    <p>Uso de la información recopilada:<br>
      · Utilizamos la información personal para proporcionarle acceso y soporte técnico al Sistema de Gestión de Inventario, procesar pagos (si corresponde) y enviarle actualizaciones relevantes.<br>
      · Utilizamos la información de uso para analizar y mejorar nuestro Sistema de Gestión de Inventario, personalizar la experiencia del usuario y ofrecer recomendaciones basadas en sus preferencias.</p>
    
    <p>Almacenamiento de la información:<br>
      · Tomamos medidas razonables para proteger la información personal recopilada y almacenada en nuestros servidores, utilizando medidas de seguridad físicas y técnicas para evitar el acceso no autorizado, la divulgación o la modificación de dicha información.<br>
      · Conservaremos la información personal solo durante el tiempo necesario para cumplir con los fines para los que se recopiló, a menos que la ley exija o permita un período de retención más prolongado.</p>
    
    <p>Compartir información con terceros:<br>
      · No vendemos, alquilamos ni compartimos información personal con terceros sin su consentimiento, excepto cuando sea necesario para brindarle los servicios solicitados o cumplir con las obligaciones legales.<br>
      · Podemos compartir información de uso agregada y anónima con terceros para fines de análisis y seguir mejorando el Sistema de Gestión de Inventario.</p>
    
    <p>Cambios en la Política de Privacidad:<br>
      Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Publicaremos una versión actualizada en nuestro Sistema de Gestión de Inventario y le notificaremos de cualquier cambio material. Le recomendamos revisar periódicamente esta Política de Privacidad para estar informado sobre cómo protegemos su información personal.</p>
    
    <p>Si tiene alguna pregunta sobre nuestra Política de Privacidad o desea ejercer sus derechos de privacidad, puede ponerse en contacto con nosotros a través de los canales de soporte proporcionados en nuestro Sistema de Gestión de Inventario.</p>
    
    <p>Al utilizar nuestro Sistema de Gestión de Inventario, usted reconoce haber leído y comprendido esta Política de Privacidad y acepta nuestros términos y condiciones.</p>
 
{% endblock %}