{% extends 'base.html' %}
{% block title %}
Proveedores
{% endblock %}

{% block content %}
<h1>Lista de Proveedores</h1>
    <li class="">
          <a class="" href="{{ url_for('supplier.register') }}">Registrar Proveedor</a>
    </li>

    <table>
        <tr>
            <th>ID de Proveedor</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Dirección</th>
            <th>ID de material</th>
            <th>Acciones</th>
        </tr>
        {% for supplier in supplier %}
        <tr>
            <td>{{ supplier.id_supplier }}</td>
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.ape_pat }}</td>
            <td>{{ supplier.ape_mat }}</td>
            <td>{{ supplier.direction }}</td>
            <td>{{ supplier.id_material }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}
    