{% extends 'base.html' %}

{% block title %}
Usuarios
{% endblock title %}
    
{% block content %}
    

    <div class="table-wrapper">
       
            <a class="" href="{{ url_for('user.register') }}">Registrar Usuario</a>
        
        <table class="fl-table">
      <tr border="1">
          <th >ID de Usuario</th>
          <th>Nombre de usuario</th>
          <th>Email</th>
          <th>Nombre</th>
          <th>Apellido Paterno</th>
          <th>Apellido Materno</th>
          <th>Acciones</th>
      </tr>
      {% for user in users %}
      <tr >
          <td>{{ user.id_user }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.ape_pat }}</td>
          <td>{{ user.ape_mat }}</td>
          <td>
            <a href="{{ url_for('user.update', id_user=user.id_user) }}">
                <i class="fa fa-pencil"></i>
            </a>
            <form action="{{ url_for('user.delete', id_user=user.id_user) }}" method="post">
                <button type="submit" onclick="return confirm('Seguro?')">
                    <i class="fa fa-trash"></i>
                </button>
            </form>
        </td>
      </tr>
      {% endfor %}
  </table>
</div>
{% endblock %}